# Projet Supabase AcoustiField
# URL : https://kiknpogoreznmgdtpkoh.supabase.co
NEXT_PUBLIC_SUPABASE_URL=https://kiknpogoreznmgdtpkoh.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# Secret key (service_role) — NE JAMAIS exposer côté client ni commiter dans GitHub
SUPABASE_SERVICE_ROLE_KEY=

# Secret client Google OAuth (Auth > Providers > Google)
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET=
